<head>
    <link href="/images/logo32.png" rel="icon" type="image/png" sizes="32x32">
    <link href="/images/logo64.png?" rel="icon" type="image/png" sizes="64x64">
    <link href="/images/logo128.png" rel="icon" type="image/png" sizes="128x128">
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<template name="layout">
    {{#if inSmallView}}
        <div class="ui right vertical sidebar menu">
            {{> roomList}}
            {{> userList }}
        </div>
    {{/if}}
    <div class="pusher">
        {{> header}}
        <div id="main" class="row-fluid">
            {{> yield}}
        </div>
    </div>
    <div class="popup-container" style="visibility: hidden">
        {{>timestampPopup}}
    </div>
</template>