div, body, html {
    padding: 0;
    margin: 0;
}

#container {
    background: purple;
    height: 500px;
}

#users {
    background: pink;
    min-height: 50px;
}

#room_list {
    width: 20%;
    min-height: 110px;
    background: black;
}

#message_list {
    overflow-y: scroll;
    background: green;
    height: 500px;
}

#some_messages {
    height: 1000px;
}

#message_entry {
    height: 30px;
    background: orange;
}

.my-message {
    background-color: #f2f2f2;
}

.has-mention {
    background: lightgoldenrodyellow;
}

.lastEditTime {
    font-size: 0.7em;
    color: dimgray;
    background: lightgray;
    padding: 0.15em;
}

.message-extras {
    display: none;
}

.message:hover .message-extras {
    display: inline-block;
}

.feedback-message {
    background: lightblue;
}
.meme-pill-image {
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
}

.user-pill-status {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: black;
    display: inline-block;
}

.user-pill-status[data-status="online"] {
    background: #008000;
}

.user-pill-status[data-status="offline"] {
    background: darkred;
}

.user-pill-status[data-status="idle"] {
    background: orange;
}

.user-pill-status[data-status="unknown"] {
    background: #808080;
}

.image-message-image {
    min-height: 100px;
    min-width: 100px;
    max-height: 600px;
    max-width: 600px;
}

.new-message-outer-container {
    position: absolute;
    width: 80%;
    height: 50px;
    bottom: 0;
}

.new-message-inner-container {
    padding-top: 5px;
}

.new-message-text-container {
    position: absolute;
    left: 5px;
    right: 80px;
}

.new-message-submit {
    position: absolute;
    right: 0;
    width: 70px;
    height: 25px;
}

.new-message-typing-users{
    top: 30px;
    left: 5px;
    position: absolute;
}

.room-header {
    position: absolute;
    width: 80%;
    height: 50px;
}

.room-header-name {
    font-size: 36px;
}

.room-header-topic {
    font-size: 12px;
}

.room-container {
    position: absolute;
    float: left;
    width: 80%;
    top: 50px;
    bottom: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar {
    position: absolute;
    right: 0;
    top: 0px;
    width: 20%;
}

.selected-room {
    background: lightblue;
}

.message {
    border-left: 3px solid transparent;
    display: block;
    width: 100%;
    min-height: 50px;     
}

.message-content {
    display: inline-block;    
    width: 80%;
    padding-left: 5px;
    min-height: 50px;    
    line-height: 50px;
}

.message-user {
    height:50px;
    display: inline-block;    
    vertical-align: middle;    
    float: left;
    width: 125px;
}

.message-user-username{
    line-height: 50px;    
    width:75px;    
    float:right;        
}

.message-timestamp {    
    display: inline-block;
    vertical-align: middle;
}

.message-user-mention{
    padding: 3px;
}
.message-user-mention:hover{
    transition: 0.1s;
    padding: 4px;
}
.clickableMessageBody{    
    line-height:normal;
    vertical-align: middle;
    display: inline-block;
}

#message {
    width: 100%;
    resize: none;
    height: 19px
}
.message-star-icon{
    color: rgb(255, 184, 0);
}
.message-sms-indicator{
    color: rgb(0, 168, 255);
}
.room-notification-container{
    display:inline-block;
}
.room-notification-count{
    display: inline-block;
    line-height: 20px;
    min-width:20px;
    margin: 2px auto;
    height:20px;
    text-align: center;
    background: lightgray;
}
.room-notification-count:empty{
    background: transparent;
}
.leaveRoomButton{
    display:inline-block;
    position:absolute;
    right:0;
}