<template name="createRoom">
    {{#if creatingRoom}}
    <form class="ui form" id="createRoomForm">
            <div class="field">
                <label>Room Name</label>
                <div class="ui action input">
                    <input name="roomName">
                    <button type="submit" class="ui purple button create-room-button">Create</button>
                </div>
            </div>
            <a href="#" class="right floated create-room-cancel">Cancel</a>
            </form>
    {{else}}
        <a href="#" class="ui compact circular purple button create create-room-link"><i class="fa fa-plus"></i></a>
    {{/if}}
</template>