<template name="createRoom">
    {{#if creatingRoom}}
        {{#autoForm schema="Schemas.createRoom" class="ui form" id="createRoomForm" type="method" meteormethod="createRoom"}}
            <div class="field">
                <label>Room Name</label>
                <div class="ui action input">
                    {{> afFieldInput name='name'}}
                    <button type="submit" class="ui green button create-room-button">Create</button>
                </div>
                {{#if afFieldIsInvalid name='name'}}
                    <div class="ui pointing red label">
                        {{afFieldMessage name='name'}}
                    </div>
                {{/if}}
            </div>
            <a href="#" class="right floated create-room-cancel">Cancel</a>
        {{/autoForm}}
    {{else}}
        <a href="#" class="ui fluid create button create-room-link">Create room</a>
    {{/if}}
</template>