<template name="createRoom">
    {{#if creatingRoom}}
    <form class="ui form" id="createRoomForm">
            <div class="field">
                <label>Room Name</label>
                <div class="ui action input">
                    <input name="roomName">
                    <button type="submit" class="ui green button create-room-button">Create</button>
                </div>
            </div>
            <a href="#" class="right floated create-room-cancel">Cancel</a>
            </form>
    {{else}}
        <a href="#" class="ui tiny basic green button create create-room-link">new</a>
    {{/if}}
</template>