<template name="discoverRooms">
    <div class="ui discoverRooms modal">
        {{#if invitationCount}}
            <div class="header">
                <h1 class="">Room Invitations ({{invitationCount}})</h1>
            </div>
            <div class="content">
                {{#each roomInvitations}}
                    {{>roomInvitation this}}
                {{/each}}
            </div>
        {{/if}}
        <div class="header">Discover Rooms</div>
        <div class="content">
            {{>discoverRoomsContent}}
        </div>
        <div class="actions">
            <div class="ui close button">close</div>
        </div>
    </div>
</template>