<template name="roomView">
<!--        <div class="container">
            <div class="ui sticky fixed bottom">
                {{ newMessage}}
            </div>
        </div>
        <div class="ui fixed main menu">
            <div class="container">
                <div class="title item">
                    {{>roomTitle room}}
                </div>
                {{#if room.topic}}
                    <div class="title item">
                        {{room.topic}}
                    </div>
                {{/if}}
                {{>roomPreferences}}
                <div class="right menu">
                    <a class="launch item">
                        Rooms
                        <i class="content icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui threaded comments room-container" id="roomContainer">
            <div id="scrollContainer" class="scroll-container">
                {{> messageList messages}}
            </div>
        </div>-->
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Notifications</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            Content goes here
        {{/ionContent}}
    {{/ionView}}
</template>
