<template name="roomView">
    <div class="room-header">
        <span class="room-header-name">{{room.name}}</span>
        <span class="room-header-topic">{{room.topic}}</span>
        {{>roomPreferences}}
    </div>
    <div id="roomContainer" class="room-container">
        {{#if currentRoom}}
            <div id="scrollContainer" class="scroll-container" style="">
                {{> messageList messages}}
            </div>
        {{else}}
            {{> noRoom }}
        {{/if}}
    </div>
    <div class="sidebar">
        <i class="fa fa-search"></i>{{> joinRoom availableRooms}}
        {{> roomList currentRooms}}
        {{> createRoom }}
        {{> userList }}
        <input type="button" id="editUserProfile" value="Edit User Profile"/>
        <input type="button" onclick="Meteor.logout()" value="logout"/>
    </div>
    {{> newMessage}}
</template>
