<template name="roomView">
    {{#if inSmallView}}
        <div class="container">
            <div class="ui sticky fixed bottom">
                {{> newMessage}}
            </div>
        </div>
        <div class="ui fixed main menu">
            <div class="container">
                <div class="title item">
                    {{>roomTitle room}}
                </div>
                {{#if room.topic}}
                    <div class="title item">
                        {{room.topic}}
                    </div>
                {{/if}}
                {{>roomPreferences}}
                <div class="right menu">
                    <a class="launch item">
                        Rooms
                        <i class="content icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui threaded comments room-container" id="roomContainer">
            <div id="scrollContainer" class="scroll-container">
                {{> messageList messages}}
            </div>
        </div>
    {{else}}
        <div class="ui violet menu room-header">
            <h3 class="header active item">
                {{>roomTitle room}}
            </h3>
            {{#if room.topic}}<h4 class="header item">{{room.topic}}</h4>{{/if}}
            {{> roomPreferences}}
            {{> roomUsers}}
        </div>
        <div id="roomContainer" class="room-container">
            {{#if currentRoom}}
                <div id="scrollContainer" class="scroll-container" style="">
                    <a href="#" class="ui inverted violet fluid button loadMore">Load More</a>
                    {{> messageList messages}}
                </div>
            {{else}}
                {{> noRoom }}
            {{/if}}
        </div>
        {{> newMessage}}
    {{/if}}
    {{#if showScroll}}
        <a class="ui huge purple icon label unread-scroll animated bounceInRight ">{{unreadCount}}<div class="detail">New Messages <i class="ui angle double down arrow icon"></i></div></a>
    {{/if}}
    <div class="modal-container">

    </div>
</template>
