<template name="roomView">
    <div style="position: absolute;width:80%;;height:50px">
        <span style="font-size:36px">{{room.name}}</span>
        <span style="font-size:12px">{{room.topic}}</span>
    </div>
    <div id="roomContainer" style="position:absolute; float:left;width:80%;top:50px;bottom:50px;overflow: auto;"
         class="col-md-12 roomContainer">
        {{#if currentRoom}}
            <div id="scrollContainer" style="">
                {{> messageList messages}}
            </div>
        {{else}}
            {{> noRoom }}
        {{/if}}
    </div>
    <div style="position:absolute;right:0;top:0px;width: 20%">
        {{> joinRoom availableRooms}}
        {{> roomList currentRooms}}
        {{> userList roomUsers}}
        <input type="button" onclick="Meteor.logout()" value="logout"/>
    </div>
    {{> newMessage}}
</template>
