<template name="rooms">
    <div class="ui rooms modal">
        {{#if roomInvitations}}
        <h1 class="">Room Invitations</h1>
        <div class="room-invitations">
            {{#each roomInvitations}}
                {{>roomInvitation this}}
            {{/each}}
        </div>
        {{/if}}
        <h1 class="">Discover Rooms</h1>
        <label class="hide-my-rooms-label"><input type="checkbox" class="hide-my-rooms" {{isChecked}}/>Hide my current rooms.</label>
        <div class="ui cards">
            {{#each rooms}}
                {{>roomTile this}}
            {{/each}}
        </div>
    </div>
</template>