<template name="roomView">
    {{#if inSmallView}}
        <div class="container">
            <div class="ui sticky fixed bottom">
                {{> newMessage}}
            </div>
        </div>
        <div class="ui fixed main menu">
            <div class="container">
                <div class="title item">
                    {{>roomTitle room}}
                </div>
                {{#if room.topic}}
                    <div class="title item">
                        {{room.topic}}
                    </div>
                {{/if}}
                {{>roomPreferences}}
                <div class="right menu">
                    <a class="launch item">
                        Rooms
                        <i class="content icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ui threaded comments room-container" id="roomContainer">
            <div id="scrollContainer" class="scroll-container">
                {{> messageList messages}}
            </div>
        </div>
    {{else}}
        <div class="room-header">
            <span class="room-header-name">
                {{>roomTitle room}}
            </span>
            <span class="room-header-topic">{{room.topic}}</span>
            {{> roomPreferences}}
            {{> roomUsers}}
        </div>
        <div id="roomContainer" class="room-container">
            {{#if currentRoom}}
                <div id="scrollContainer" class="scroll-container" style="">
                    {{> messageList messages}}
                </div>
            {{else}}
                {{> noRoom }}
            {{/if}}
        </div>
        <div class="sidebar">
            {{> roomList }}
        </div>
        {{> newMessage}}
    {{/if}}
    <div class="modal-container">

    </div>
</template>
