.my-message {
    background-color: white;
}

.has-mention {
    background: lightgoldenrodyellow;
}

.lastEditTime {
    font-size: 0.7em;
    color: dimgray;
    background: lightgray;
    padding: 0.15em;
}

.message-extras {
    display: none;
}

.message:hover .message-extras {
    display: inline-block;
}

.feedback-message {
    background: lightblue;
}

.meme-pill-image {
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
}

.user-pill-status {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: black;
    display: inline-block;
}

.user-pill-status[data-status="online"] {
    background: #008000;
}

.user-pill-status[data-status="offline"] {
    background: darkred;
}

.user-pill-status[data-status="idle"] {
    background: orange;
}

.user-pill-status[data-status="unknown"] {
    background: #808080;
}

.image-message-image {
    min-height: 100px;
    min-width: 100px;
    max-height: 600px;
    max-width: 95%;
}

.new-message-outer-container {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
}

@media (max-width: 768px) {
    .new-message-outer-container {
        width: 100%;
        background-color: rgba(247, 247, 247, 0.94);
        position: fixed;
    }
}

.new-message-text-container {
    position: absolute;
    left: 5px;
    right: 80px;
}

.new-message-submit {
    position: absolute;
    right: 0;
    width: 70px;
    height: 25px;
}

.new-message-typing-users {
    top: 30px;
    left: 5px;
    position: absolute;
}

.room-header {
    border-right: none !important;
}

.room-header .header {
    height: 51px;
}

.room-header-name {
    font-size: 36px;
}

.room-header-topic {
    font-size: 12px;
}

.room-container {
    position: absolute;
    float: left;
    width: 100%;
    top: 55px;
    bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(250, 250, 250);
}

@media (max-width: 768px) {
    .room-container.ui.comments {
        max-width: 100%;
        width: 100%;
        top: 20px;
        bottom: 50px;
    }
}

.sidebar {
    background-color: rgb(250, 250, 250);
    overflow-y: auto;
    overflow-x: hidden;
}

.selected-room {
    font-weight: 900;
    transition: 0.4s;
    background: rgb(237, 237, 237);
    padding-left: 1%;;;
}

.message {
    border-left: 3px solid transparent;
    display: block;
    width: 100%;
    min-height: 50px;
    position: relative;;
}

.message-content {
    padding-left: 5px;
    min-height: 50px;
    line-height: 50px;
    display: inline-block;
    position: relative;
}

.message-user {
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 125px;
    height: 50px;
}

.message-user-username {
    line-height: 50px;
    width: 75px;
    float: right;
}

.message-user-mention {
    padding: 3px;
}

.message-user-mention:hover {
    opacity: 0.8;
}

.clickableMessageBody {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
    transition: 0.3s;
}

.message-star-icon {
    color: rgb(255, 184, 0);
}

.message-sms-indicator {
    color: rgb(0, 168, 255);
}

.room-notification-container {
    display: inline-block;
}

.room-notification-count {
    display: inline-block;
    line-height: 20px;
    margin: 2px auto;
    height: 20px;
    text-align: center;
    background: lightgray;
    min-width: 20px;
}

.room-notification-count:empty {
    background: transparent;
}

.selected-room .room-notification-count {
    min-width: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.discover-room-button {
    position: relative;
}

.notification-button-unread[data-unread]:before, .room-invitation-unread[data-unread]:before {
    content: attr(data-unread);
    background: red;
    color: white;
    display: inline-block;
    padding: 3px;
    margin-right: 2px;
    width: 18px;
    height: 18px;
    line-height: 150%;
}

.discover-rooms-container {
    margin: 3%;
    padding: 1%;
    background-color: #ddd
}

.room-tile {
    padding: 1%;
    width: 21%;
    display: inline-block;
    margin: 0.5%;
    background-color: #F0F0F0;
    transition: 0.1s;
    position: relative;
}

.room-tile:hover {
    background-color: rgb(232, 226, 245);
    transition: 0.3s;
}

.room-tile:active {
    background-color: rgb(166, 64, 226);
    transition: 0.3s;
}

span.room-tile-count {
    position: absolute;
    right: 1%;
}

.room-tile-icon {
    color: gray;
    margin: 3px 0;
}

.room-tile-topic {
    display: inline-block;
    color: darkgray;
}

.my-room {
    border: 1px solid #333;
    background-color: #aaa;
    transition: 0.3s;
}

/*div, body, html {
    padding: 0;
    margin: 0;
}*/
.room-element {
    line-height: 200%;
}

.room-element:hover {
    background: lightblue;
}

.draggableRoomItem:hover .room-leave-link {
    display: inline-block;
}

.room-leave-link {
    display: none;
    float: right;
    cursor: default;
    color: grey;
}

.room-leave-link-enabled {
    cursor: pointer;
    color: black;
}

.room-leave-link-enabled:hover {
    color: red;
    transform: scale(1.3);
    transition-duration: 0.2s;
}

.notification-container {
    margin: 5% 10%;
    padding: 1%;
    background-color: #ddd;
}

.notification-item {
    background-color: white;
    padding: 1em;
    margin: 1em;
}

.notification-item-author {
    font-weight: 900;
}

#img-upload-preview {
    display: block;
    margin: 0;
    max-width: 100%;
    max-height: 300px;
}

.emojione {
    height: 2.0em;
    width: 2.0em;
}

/* Informal Semantic UI Dev Overrides */
html, body {
    height: 100%;
}

.popup {
    line-height: initial;
    z-index: 500;
}

.smallMessageList {
    padding-bottom: 60px;
}

.smallMessage {
    border-left: 2px solid transparent;;
    padding-left: 2px;
}

.emojiCategory {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment .actionLinks {
    visibility: hidden;
}

.comment:hover .actionLinks {
    visibility: visible;
}

.ui.comments .comment .text {
    /* move comment text to padding for background*/
    margin: 0;
    padding: 0.25em 0 0 0;
}
.ui.comments .comment
{
    padding: 0 0 0 0.5em;
}
.ui.comments .continued .text {
    padding: 0;
}

.ui.comments .comment {
    margin: 0;
    padding: 0;
}

.ui.comments {
    max-width: 100%;
}

.s-alert-info, .s-alert-success, .s-alert-warning, .s-alert-error {

}

.menu {
    border-radius: 0 !important;
}

.ui.visible.wide.right.sidebar ~ .fluid-sidebar {
    transform: translate3d(0, 0, 0) !important;
    margin-right: 350px !important;
    transition: 500ms;
}

.sidebar {
    box-shadow: none !important;
}
.continued.metadata {
    float: right;
}

.unread-scroll {
    position: fixed;
    right: 2em;
    bottom: 5em;
    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.950, 0.050, 0.795, 0.035); /* easeInExpo */
    animation-duration: 0.3s;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}