<template name="userProfileCard">
    <div class="ui userProfileCard popup" style="line-height:initial; z-index: 500;padding:0.0em;">
        <div class="ui card" style="z-index:501">
            <div class="image">
                <img src="{{avatarForUserId this}}">
            </div>
            <div class="content">
                <a class="header">{{usernameForUserId this}}</a>

                <div class="meta">
                    <span class="date">more info to go here</span>
                </div>
                <div class="description">
                    {{#if statsReady}}
                    <div class="ui horizontal statistics">
                        <div class="statistic">
                            <div class="value">
                                <i class="heart icon star icon"></i>  {{getPublishedCount 'starsGivenCount'}}
                            </div>
                            <div class="label">
                               Stars Given
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                <i class="empty star icon"></i>  {{getPublishedCount 'starsReceived'}}
                            </div>
                            <div class="label">
                                Star Messages
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                <i class="envelope icon"></i>  {{getPublishedCount 'messagesSentCount'}}
                            </div>
                            <div class="label">
                                Messages Sent
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="extra content">
                <a href="/user/{{this}}/metrics" target="_blank" class="ui tiny primary compact labeled icon button">
                    <i class="line chart icon"></i>
                    Trend
                </a>
            </div>
        </div>
    </div>
</template>