<template name="userProfileCardContent">
    <div class="ui card" style="z-index:501">
        <div class="image">
            <img src="{{avatarForUserId this}}">
        </div>
        <div class="content">
            <div class="right floated meta">{{idleTextForUserId this}}</div>
            <a class="header">@{{usernameForUserId this}}</a>
        </div>
        <div class="content">
            <div class="meta">
                <span class="date">more info to go here</span>
            </div>
            <div class="description">
            </div>
        </div>
        <div class="ui two bottom attached labeled buttons">
            <a href="/user/{{this}}/metrics" target="_blank" class="ui primary labeled icon button">
                <i class="line chart icon"></i>
                Trend
            </a>
            {{#if shouldShowMessageButton}}
            <a href="#" class="ui green labeled icon button direct-message">
                <i class="conversation icon"></i>
                Message
            </a>
            {{/if}}
        </div>
    </div>
</template>