<div class="ui vertical inverted stripe quote segment">
   <div class="ui equal width stackable internally celled grid">
     <div class="center aligned row">
       <div class="column">
         <h3>"What a Company"</h3>
         <p>That is what they all say about us</p>
       </div>
       <div class="column">
         <h3>"I shouldn't have gone with their competitor."</h3>
         <p>
             <b>Nan</b> Chief Fun Officer Acme Toys
         </p>
       </div>
     </div>
   </div>
 </div>
