<template name="directMessageItem">
    <div class="ui violet {{activeRoomFromId _id}} compact link item">
        <div>
            {{#if unreadCount}}
                <div class="ui green label">{{unreadCount}}</div>
            {{/if}}
            {{#with otherUserId users}}
                <img src="{{avatarForUserId this}}" class="ui middle aligned mini image"
                     style="width: 35px; height:35px;"/>
                {{usernameForUserId this}}
            {{/with}}
        </div>
    </div>
</template>