<template name="sidebar">
    <div class="ui right wide sidebar">
        <div class="ui violet vertical fluid menu">
            <div class="ui violet header item">
                <i class="university icon"></i>
                rooms
                {{> createRoom }}
            </div>
            <div class="item">
                <div class="ui icon input">
                    {{> roomSearch}}
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="room-list">
                {{#sortable items=currentRooms options=opts}}
                    {{>roomListItem this}}
                {{/sortable}}
            </div>
            <div class="ui header violet item">
                <i class="comments icon"></i>
                direct messages
            </div>
            <div class="item">
                <div class="ui icon input">
                    {{> directMessageUserSearch }}
                    <i class="search icon"></i>
                </div>
            </div>
            {{#each currentDirectMessages}}
                {{>directMessageItem this}}
            {{/each}}
        </div>
        <div class="ui vertical vertically fitted red active fluid text menu">
            <div class="header item">
                actions
            </div>
            {{> starsModalButton }}
            {{> discoverRoomsButton}}
            {{> notificationButton}}
            {{> userProfileButton}}
            {{> userLogoutButton}}
            <a class="ui icon link item" href="https://github.com/mattfeldman/nullchat" target="_blank"><i class="ui help icon"></i>About</a>
        </div>
    </div>
</template>