<template name="userProfileContent">
            <div class="header">
                <h1>Edit User Profile</h1>
            </div>
            <div class="content">
                {{#autoForm schema="Schemas.userProfile" doc=this id="userProfileForm" type="method" meteormethod="updateProfile" errorsInLabels=true}}
                    {{> afQuickField name='color'}}
                    {{> afQuickField name='avatar'}}
                    {{> afQuickField name='number'}}
                    {{> afQuickField name='use24HrTime'}}
                    {{> afQuickField name='continueMessages'}}
                {{/autoForm}}
            </div>
            <div class="actions">
                <div class="ui left labeled icon green button save">Save <i class="checkmark icon"></i></div>
                <div class="ui left labeled grey button cancel">Cancel</div>
            </div>
</template>