<template name="userProfileCard">
    <div class="ui userProfileCard popup" style="line-height:initial; z-index: 500;">
        <div class="ui card">
            <div class="image">
                <img src="{{avatarForUserId this}}">
            </div>
            <div class="content">
                <a class="header">{{usernameForUserId this}}</a>

                <div class="meta">
                    <span class="date">more info</span>
                </div>
                <div class="description">
                    to go
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="user icon"></i>
                    in these spots
                </a>
            </div>
        </div>
    </div>
</template>