<template name="message">
    <div id="{{_id}}" class="row {{myMessage}}" style="border-left: 3px solid transparent;{{color}}">
        {{#if isPlain}}
            {{>messageUser user}}
            {{{finalMessageBody}}}
            <a class="likeMessageLink" href="#">+1</a>
            ({{likedBy.length}})
        {{else}}{{#if isImage}}
            {{>messageUser user}}
            <img src="{{data}}" width="500px" height="500px"/>
        {{else}}{{#if isFeedback}}
            <span class="feedback-message" style="background: lightblue">{{message}}</span>
        {{/if}}{{/if}}{{/if}}
        {{showTimestamp}}
    </div>
</template>