<template name="newMessage">
    <div class="new-message-outer-container">
        <div class="item">
            <div class="ui fluid left icon action input">
                <i class="ui smile icon"></i>
                {{>inputAutocomplete settings=settings name="message" id="message" placeholder="don't be shy..."}}
                <div class="ui buttons">
                    <div class="ui send button">Send</div>
                    <div class="ui purple gif button">
                        gif
                    </div>
                    <div class="ui orange meme button">
                        meme
                    </div>
                    <div class="ui blue upload icon button">
                        <i class="ui upload icon"></i>
                    </div>
                </div>
            </div>
            <div class="metadata">
                {{typingUsers}}
            </div>
        </div>
    </div>
</template>