<template name="newMessage">
    <div class="new-message-outer-container">
        <div class="item">
            <div class="ui fluid action left icon input">
                {{>inputAutocomplete settings=settings name="message" id="message" placeholder="don't be shy..."}}
                <i class="emoji ui smile icon"></i>
                <div class="ui buttons">
                <div class="ui send button">Send</div>
                <div class="ui purple gif button">
                    gif
                </div>
                <div class="ui orange meme button">
                    meme
                </div>
                </div>
            </div>
            <div class="metadata">
                {{typingUsers}}
            </div>
        </div>
    </div>
</template>