<template name="pasteImageContent">
    <div class="header">
        Upload Image
    </div>
    <div class="content">
        <div class="image">
            <img id="img-upload-preview" src="{{pasteImageUrl}}"/>
        </div>
    </div>
    <div class="actions">
        <button class="ui left labeled icon green upload button ok"><i class="upload icon"></i>Upload</button>
        <button class="ui left labeled icon button cancel"><i class="close icon"></i>Cancel</button>
    </div>
</template>