<template name="pasteImageModal">
    <div class="anti-modal-box">
        <div class="anti-modal-header">
            <div class="anti-modal-title">Upload Image</div>
            <div class="anti-modal-closer">&times;</div>
        </div>
        <div class="anti-modal-body">
            <img id="img-upload-preview" src="{{pasteImageUrl}}"/>
        </div>
        <div class="anti-modal-footer">
            <button class="anti-modal-button anti-modal-button-action">Upload</button>
            <button class="anti-modal-button anti-modal-button-cancel">Cancel</button>
        </div>
    </div>
</template>