<template name="richSmallMessage">
    <div id="{{_id}}" class="ui comment">
        <a class="avatar">
            <img src="{{avatarForUserId authorId}}"/>
        </a>
        <div class="content smallMessage" style="border-color: {{colorForUserId authorId}};">
            <a class="author">{{usernameForUserId authorId}}</a>
            <div class="metadata">
                <span class="date">{{showTimestamp}}</span>
            </div>
            <div class="text">
                {{> UI.dynamic template=layoutName data=data}}
            </div>
        </div>
    </div>
</template>