<template name="roomInvitation">
    <div class="item">
        <div class="room-invitation-dismiss ui right floated compact button">ignore</div>
        <div class="room-invitation-accept ui right floated green compact button">accept</div>
        <img class="ui avatar image" src="{{avatarForUserId user._id}}"/>
        <div class="content">
            <div class="header">{{user.username}} invited you to join #{{room.name}}</div>
            <span class="room-invitation-ago-text">{{agoText}}</span>
        </div>
    </div>
</template>